<!--
<app-test></app-test>
-->

<!--
<app-test2></app-test2>
-->
<!--
<app-login></app-login>
-->
<!--
<app-registration></app-registration>
-->
<app-header></app-header>
<marquee>Welcome to Angular</marquee>
<router-outlet></router-outlet>