<h1>Id: {{id}}</h1>
<h1>Name: {{name}}</h1>
<h1>Age: {{age}}</h1>
<h2><u>Address</u></h2>
Street No: {{address.streetNo}}<br/>
City: {{address.city}}<br/>
state: {{address.state}}<br/><br/>
<h2><u>Hobbies</u></h2>
<ol>
    <li *ngFor="let hobby of hobbies">{{hobby}}</li>
</ol>