<h3 align="center">Welcome {{emailId}}!</h3>


<h1 align="center">ShowEmployeeById</h1> <br/>
<div align="center">

empid:<input type="number" name="empId" [(ngModel)]="empId"><br><br>
<button (click)="getEmployee()"> GetEmployee </button></div>

<div align="center" *ngIf="employee">
    <table align="center" border="2">
        <thead>
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>Salary</th>
                <th>Gender</th>
                <th>DOJ</th>
                <th>Country</th>
                <th>EmailId</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{employee.empId}}</td>
                <td>{{employee.empName}}</td>
                <td>{{employee.salary}}</td>
                <td>{{employee.gender}}</td>
                <td>{{employee.doj}}</td>
                <td>{{employee.country}}</td>
                <td>{{employee.emailId}}</td>
            </tr>
        </tbody>
    </table>
</div>