<!--<div>
<label>

    enter id:
</label>

<input type="text" name ="loginId" [(ngModel)]="loginId"><br><br>
<label>
    enter name:
</label>
<input type="password" name="password" [(ngModel)]="password"><br><br>
<button (click)="submit()">login</button>
</div> -->

<!--form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)">
    Enter Email-Id: <input type="text"     name="emailId"  ngModel   /> <br/>
    Enter Password: <input type="password" name="password" ngModel  /> <br/>
    <button>Login</button>
    </!--form> -->

    <!--<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
Enter Email-Id: <input type="text"     name="emailId"  #emailId="ngModel"   ngModel required minlength="2" maxlength="20" /> <br/>
Enter Password: <input type="password" name="password" #password="ngModel"  ngModel required minlength="2" maxlength="10" /> <br/>
<button [disabled]="!loginForm.valid">Login</button>
</form>

<div>
    <div style="color:red;" *ngIf="emailId.errors?.['required'] && emailId.touched">Enter Email-Id</div>
    <div style="color:red;" *ngIf="password.errors?.['required'] && password.touched">Enter Password</div>

    <div style="color:red;" *ngIf="emailId.errors?.['minlength'] && emailId.touched">Provide atleast 2 character for Email-Id</div>
    <div style="color:red;" *ngIf="password.errors?.['minlength'] && password.touched">Provide atleast 2 character for Password</div>
</div>-->
<head>
    <link rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" 
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
    crossorigin="anonymous">
</head>
    
    
    <div class="container" style="width: 300px; margin-left: 10%;">
    <form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm.value)" novalidate>
    
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class="form-control" type="text"     name="emailId"  #emailId="ngModel"   ngModel required minlength="2" maxlength="20" /> <br/>
    </div> <br/>
    
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input class="form-control" type="password" name="password" #password="ngModel"  ngModel required minlength="2" maxlength="10" /> <br/>
    </div> <br/>
    
    <button [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
    
    </form>
    
    <div>
    <div style="color:red;" *ngIf="emailId.errors?.['required'] && emailId.touched">Enter Email-Id</div>
    <div style="color:red;" *ngIf="password.errors?.['required'] && password.touched">Enter Password</div>
    
    <div style="color:red;" *ngIf="emailId.errors?.['minlength'] && emailId.touched">Provide atleast 2 character for Email-Id</div>
    <div style="color:red;" *ngIf="password.errors?.['minlength'] && password.touched">Provide atleast 2 character for Password</div>
    </div>
    </div>

    <!-- <!DOCTYPE html>
<html>

<body>
    <div class="signup-form">
        <h2>Sign Up</h2>
        <form action="signup_process.php" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <input type="submit" value="Sign Up">
        </form>
    </div>
</body>
</html> -->

<!-- <body>
    <div  id="step1">
        <h2>Step 1: Personal Information</h2>
        <input type="text" placeholder="First Name">
        <input type="text" placeholder="Last Name">
        <button onclick="nextStep('step1', 'step2')">Continue</button>
    </div>

    <div class="step" id="step2">
        <h2>Step 2: Account Information</h2>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <button onclick="nextStep('step2', 'step3')">Continue</button>
    </div>

    <div class="step" id="step3">
        <h2>Step 3: Confirmation</h2>
        <p>Please review your information</p>
        <button onclick="previousStep('step3', 'step2')">Previous</button>
        <button onclick="submitForm()">Submit</button>
    </div>

    <script>
        function nextStep(currentStepId, nextStepId) {
            document.getElementById(currentStepId).style.display = 'none';
            document.getElementById(nextStepId).style.display = 'block';
        }

        function previousStep(currentStepId, previousStepId) {
            document.getElementById(currentStepId).style.display = 'none';
            document.getElementById(previousStepId).style.display = 'block';
        }

        function submitForm() {
            // Perform form submission logic here
            alert('Form submitted successfully!');
        }
    </script>
</body> -->
